<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="mqt-title">Permutation Flow Shop | Résolution à l'aide d'heuristiques</div>
		</div>
		
		<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="mqt-pictureContainer" tooltip="Uploader un fichier d'instances pour les résourdre" placement="right">
	          <div class="mqt-picture">
	              <i *ngIf="'' == form.file"  class="fa fa-file-text-o" aria-hidden="true"></i>
	              <i *ngIf="'' != form.file"  class="fa fa-check-circle mqt-flowshop-checked" aria-hidden="true"></i>
	          </div>
	          <input class="mqt-fileInput" type="file" (change)="solve($event)" />
	        </div>
		</div>
		
		<div *ngFor="let i of instances" class="col col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<div class="mqt-home-redHeader"></div>
			<div class="mqt-back-white mqt-padding-15 mqt-home-form mqt-home-bigForm">
				<div class="mqt-title">Instance n°{{i.id}}</div>
				<div class="table-responsive">
		        	<table class="table table-striped">
				         <thead>
				             <tr>
				                 <th>Jobs/Machines</th>
				                 <th *ngFor="let m of i.jobs[0].processingTimes; let id = index" [attr.data-index]="id">{{id + 1}}</th>
				             </tr>
				        </thead>
				        <tbody>
				        	<tr *ngFor="let j of i.jobs" class="mqt-home-ligne">
				        		<td>{{j.id}}</td>
				        		<td *ngFor="let m of j.processingTimes">{{m}}</td>
				        	</tr>
				        </tbody>
				     </table>
				</div>
			</div>			
		</div>
		
	</div>
</div>