<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="mqt-title">Dominance Empirique</div>
		</div>
		
		<div *ngIf="loaded" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 mqt-dominance">
			<ngx-charts-line-chart
			      [scheme]="colorScheme"
			      [results]="data"
			      [gradient]="gradient"
			      [xAxis]="showXAxis"
			      [yAxis]="showYAxis"
			      [legend]="showLegend"
			      [showXAxisLabel]="showXAxisLabel"
			      [showYAxisLabel]="showYAxisLabel"
			      [xAxisLabel]="xAxisLabel"
			      [yAxisLabel]="yAxisLabel"
			      [autoScale]="autoScale">
			    </ngx-charts-line-chart>
		</div>
		
		<div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="mqt-title">Dominance Stochastique Empirique (Ordre 1)</div>
		</div>
		
		<div *ngIf="loaded2" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 mqt-dominance">
			<ngx-charts-line-chart
			      [scheme]="colorScheme"
			      [results]="data"
			      [gradient]="gradient"
			      [xAxis]="showXAxis"
			      [yAxis]="showYAxis"
			      [legend]="showLegend"
			      [showXAxisLabel]="showXAxisLabel"
			      [showYAxisLabel]="showYAxisLabel"
			      [xAxisLabel]="xAxisLabel2"
			      [yAxisLabel]="yAxisLabel2"
			      [autoScale]="autoScale">
			    </ngx-charts-line-chart>
		</div>
		
	</div>
</div>